# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Distribution / packaging
.DS_Store
package-lock.json
yarn.lock
